<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body  style="margin: 50px;">
    <center>
    <h1>This is Home Page.</h1>
    <a href="/login">Login Here...</a><br>
    <a href="/register">Register Here...</a><br>
    <a href="/forgetpass">Forget Password ? Change your Password</a>
    </center>

    <script src="script.js"></script>
</body>
</html>