<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Here</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <center>
    <h1>Register Here</h1>
    <form action="/api/Register" method="post" id="registerPage" style="grid-row: span;">
        <input type="text" name="Fullname" placeholder="Fullname">
        <input type="text" name="Username" placeholder="Username">
        <input type="text" name="Password" placeholder="Password">
        <input type="text" name="Address" placeholder="Address">
        <input type="number" name="Phone" placeholder="Contact Number">
        <button id="registerbtn">Register</button>
    </form><br><br>

    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/home">Logout</a></li>
    </center>   

    <script src="script.js"></script>
</body>
</html>